/*
style.css
*/
header {
     font-family: "Impact";
     font-style: bold;
    font-variant: all-caps;
     font-size: 128px;
     color: royalblue;
     text-align:center;
     background-color: lightseagreen;
}
header.today {
	font-family: "consolas";
     font-style: bold;
     font-variant: all-caps;
     font-size: 128px;
     color: royalblue;
     text-align:center;
     background-color: lightseagreen;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}
ul.topnav li {
    float: left;
}
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.topnav li a:hover {
    background-color:darkslateblue;
}

h1 {
    font-family: "consolas";
    font-variant: normal;
    font-size: 24px;
    color: black;
    text-align: center;
    text-decoration: underline;
}

p.whatpop {
    color: black;
    font-size: 16px;
    text-align: left;
    font-family: "consolas";
    font-variant: normal;
    outline-style: double;
    padding: 10px;
    outline-color: gray ;
    outline-width: medium;
}

h2.artists {
    margin: 20px 30px;
    padding: 20px 50px;
    background-color: lightcyan;
    font-variant: normal;
    font-family: "consolas";
    font-size: 16px;
    color: black;
    text-align: center;
}

h3 {
    font-family: "Consolas";
    font-size: 16px;
    font-variant: normal;
    color: black;
    text-align: center;
    background-color: lightseagreen;
}
ul.history li {
    list-style-position: inside;
    padding-bottom: 50px;
    background-color: lightseagreen;
}

/*carousel starts here*/


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
}

h1.carousel {
  text-align: center;
  font-size: 1.7rem;
}
ul.carousel {
  width: 100vw;
  height: 750px;
  padding: 20px;
  display: flex;
  gap: 4vw;
}
li#carousel {
  list-style-type: none;
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  padding: 20px;

  flex: 0 0 100%;
}

#carousel li:nth-child(even) {
  background-color: cyan; 
}
ul.carousel {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
li#carousel {
  scroll-snap-align: center;
}
.carousel ul::scroll-button(*) {
  border: 0;
  font-size: 2rem;
  background: none;
  color: black;
  opacity: 0.7;
  cursor: pointer;
}

.carousel ul::scroll-button(*):hover,
.carousel ul::scroll-button(*):focus {
  opacity: 1;
}

.carousel ul::scroll-button(*):active {
  translate: 1px 1px;
}

.carousel ul::scroll-button(*):disabled {
  opacity: 0.2;
  cursor: unset;
}
.carousel ul::scroll-button(left) {
  content: "\2B9C";
  font-size:50px
  
}

/*https://unicode-explorer.com/list/arrows this is for arrows*/

.carousel ul::scroll-button(right) {
  content: "\2B9E";
  font-size: 50px;
}
ul.carousel {
  anchor-name: --my-carousel;
}

.carousel ul::scroll-button(*) {
  position: absolute;
  position-anchor: --my-carousel;
}
.carousel ul::scroll-button(left) {
  right: calc(anchor(left) - 70px);
  bottom: calc(anchor(top) + 13px);
}

.carousel ul::scroll-button(right) {
  left: calc(anchor(right) - 70px);
  bottom: calc(anchor(top) + 13px);
}
ul.carousel {
  scroll-marker-group: after;
}
.carousel ul::scroll-marker-group {
  position: absolute;
  position-anchor: --my-carousel;
  top: calc(anchor(bottom) - 70px);
  justify-self: anchor-center;

  display: flex;
  justify-content: center;
  gap: 20px;
}
#carousel li::scroll-marker {
  content: "";
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50%;
}
#carousel li::scroll-marker:target-current {
  background-color: black;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


/*table starts here*/


table.chart {
    padding: 20px;
    text-align: left;
    margin: auto;
    width: 100%;
}
table.centerTable {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.chart th {
    height: 20px;
    background-color: lightseagreen;
    color: white;
    padding: 20px;
}


.chart tr:nth-child(odd){
    background-color: #f2f2f2b1;
}
.chart tr {
    padding: 20px;
    height: 45px;
}
.chart h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
.chart h2 {
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 100px;
}
ol.popularity{
    margin: 20px 400px;
    padding: 20px 50px;
    background-color: powderblue;
    
}
p {
  text-align: center;
}
h1.carousel {
  font-size: 36px;
  font-family: 'Courier New', Courier, monospace;
}
li#carousel {
  text-align: center;
  font-size: 16px;
  font-family:'Courier New', Courier, monospace;
}
h2.carousel {
  font-size: 32px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: underline;
  text-align: center;
}
h1.where {
  font-size: 32px;
  text-align: center;
  font-family: 'Consolas';
  padding-top: 75px;
}
h2.logos {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 50px;
  padding-top: 100px;
}